.Contain{
    text-align: center;
    margin-top: 23;
}
table{
    margin: auto;
}
input{
    border-radius: 15px;
    border: 5px solid black;
    font-size: 18px;
    height: 30px;
    width: 250px;
}
button{
    border-radius: 19px;
    font-size: 20px;
    width: 60px;
    height: 40px;
    margin: 2px;
    background-color: aliceblue;
}
.Calculator{
    border: 4px solid darkblue;
    background-color: antiquewhite;
    padding: 23px;
    border-radius: 40px;
    display: inline-block;
}
h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
